# Reading 15 million reviews 

*what is the best way to read 15 million reviews?*

In [2]:
import gzip
import json
import re
import os
import sys
import numpy as np
import pandas as pd

In [3]:
DIR = "./data"

In [4]:
def load_data(file_name, head=1000000):
    # 15739967
    count = 0
    data = []
    with gzip.open(file_name) as fin:
        for l in fin:
            d = json.loads(l)
            count += 1
            data.append(d)

            # break if reaches the headth line
            if (head is not None) and (count > head):
                break
    return data

In [5]:
reviews = pd.DataFrame(load_data(os.path.join(
    DIR, "goodreads_reviews_dedup.json.gz"))
)

In [6]:
reviews

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,24375664,5cd416f3efc3f944fce4ce2db2290d5e,5,Mind blowingly cool. Best science fiction I've...,Fri Aug 25 13:55:02 -0700 2017,Mon Oct 09 08:55:59 -0700 2017,Sat Oct 07 00:00:00 -0700 2017,Sat Aug 26 00:00:00 -0700 2017,16,0
1,8842281e1d1347389f2ab93d60773d4d,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb,5,This is a special book. It started slow for ab...,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,Sat Aug 26 12:05:52 -0700 2017,Tue Aug 15 13:23:18 -0700 2017,28,1
2,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017,6,0
3,8842281e1d1347389f2ab93d60773d4d,22078596,fdd13cad0695656be99828cd75d6eb73,4,"Fun, fast paced, and disturbing tale of murder...",Mon Jul 24 02:33:09 -0700 2017,Sun Jul 30 10:23:54 -0700 2017,Sun Jul 30 15:42:05 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,22,4
4,8842281e1d1347389f2ab93d60773d4d,6644782,bd0df91c9d918c0e433b9ab3a9a5c451,4,A fun book that gives you a sense of living in...,Mon Jul 24 02:28:14 -0700 2017,Thu Aug 24 00:07:20 -0700 2017,Sat Aug 05 00:00:00 -0700 2017,Sun Jul 30 00:00:00 -0700 2017,8,0
...,...,...,...,...,...,...,...,...,...,...,...
999996,f131126e97b09f87010f4d419391ee9f,15843480,ecfec5fc89629da466d5c49358e55a33,4,I read a .pdf version of this book that was se...,Thu Sep 20 14:50:52 -0700 2012,Thu Jul 10 15:16:50 -0700 2014,Thu Jan 31 00:00:00 -0800 2013,,0,0
999997,f131126e97b09f87010f4d419391ee9f,14291982,6afb14b8dc8e42dbef89964bce8586cc,4,"""Every now and then, you have an encounter wit...",Wed Sep 12 17:26:02 -0700 2012,Sat Feb 16 09:59:11 -0800 2013,Tue Sep 25 00:00:00 -0700 2012,,0,0
999998,f131126e97b09f87010f4d419391ee9f,13093165,884fb68ca4e27d3a255d37620fc438e5,0,I GIVE THIS BOOK: 4 1/2 out of 5 stars \n This...,Sat Sep 08 11:11:02 -0700 2012,Thu Oct 26 16:45:33 -0700 2017,Sun Oct 07 00:00:00 -0700 2012,,0,0
999999,f131126e97b09f87010f4d419391ee9f,12975883,5cbc5b0ee190302b70f6360bc1383743,0,This is a very easy and tidy read. Sometimes I...,Thu Aug 23 12:37:05 -0700 2012,Thu Oct 26 16:45:14 -0700 2017,Mon Aug 27 00:00:00 -0700 2012,,0,0
1000000,f131126e97b09f87010f4d419391ee9f,6453283,9ced9cfcf04a9ea34c0bbff1023f0b47,0,Fun and easy quick read! If only there were mo...,Tue Aug 21 14:39:27 -0700 2012,Thu Oct 26 16:11:58 -0700 2017,Sun Nov 14 00:00:00 -0800 2010,,0,0

# Statistics

In [7]:
pd.to_pickle(reviews, os.path.join(DIR, "reviews.pkl"))